<link rel="stylesheet" type="text/css" href="/css/firstPage.css">
<div id='circle'/>
<form action="/firstPage" method="POST">
<p>Change color</p>
<input type="color" name='circleColor'>
<input type="submit" value='change'>
</form>